<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>e</string>
	</array>
	<key>keyEquivalent</key>
	<string>^~I</string>
	<key>name</key>
	<string>Evie</string>
	<key>patterns</key>


  <array>
    <dict>
      <key>include</key>
      <string>#comments</string>
    </dict>
    <dict>
      <key>include</key>
      <string>#constants</string>
    </dict>
    <dict>
      <key>include</key>
      <string>#mnemonics</string>
    </dict>
    <dict>
      <key>include</key>
      <string>#types</string>
    </dict>
  </array>
  <key>repository</key>
  <dict>
    <key>comments</key>
    <dict>
      <key>patterns</key>
      <array>
        <dict>
          <key>match</key>
          <string>(#|#\s).*$</string>
          <key>name</key>
          <string>comment.line</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(").*(")</string>
          <key>name</key>
          <string>string.quoted.double</string>
        </dict>
      </array>
    </dict>
    <key>constants</key>
    <dict>
      <key>patterns</key>
      <array>
        <dict>
          <key>match</key>
          <string>\b((([0-9\_]+\.[0-9\_]*)(e[+-]?[0-9\_]+)?|\.?[0-9\_]+e[+-]?[0-9\_]+))\b</string>
          <key>name</key>
          <string>constant.numeric.floating-point</string>
        </dict>
        <dict>
          <key>match</key>
          <string>\b([0-9\_]+p[0-9\_]*)\b</string>
          <key>name</key>
          <string>constant.numeric.packed-bcd</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\$0[0-9a-f]+)\b</string>
          <key>name</key>
          <string>constant.numeric.literal</string>
        </dict>
        <dict>
          <key>match</key>
          <string>\b((0[by][01\_]+)|([01\_]+[by]))\b</string>
          <key>name</key>
          <string>constant.numeric.bin</string>
        </dict>
        <dict>
          <key>match</key>
          <string>\b((0[oq][0-7\_]+)|([0-7\_]+[oq]))\b</string>
          <key>name</key>
          <string>constant.numeric.oct</string>
        </dict>
        <dict>
          <key>match</key>
          <string>\b((0d[0-9\_]+)|([0-9\_]+d?))\b</string>
          <key>name</key>
          <string>constant.numeric.dec</string>
        </dict>
        <dict>
          <key>match</key>
          <string>\b((0[xh][0-9a-fA-F\_]+)|([0-9a-fA-F\_]+[hH]))\b</string>
          <key>name</key>
          <string>constant.numeric.hex</string>
        </dict>
      </array>
    </dict>
    <key>mnemonics</key>
    <dict>
      <key>patterns</key>
      <array>
        <dict>
          <key>match</key>
          <string>\b(type|func|loyal|export|import|use|if|while|else|ptr|cache|decimal)\b</string>
          <key>name</key>
          <string>keyword.control</string>
        </dict>
      </array>
    </dict>
    <key>types</key>
    <dict>
      <key>patterns</key>
      <array>
        <dict>
          <key>match</key>
          <string>\b(bool|byte|long|num|normal|short|tiny|uint|ulong|ushort)\b</string>
          <key>name</key>
          <string>constant.language.registers.general-purpose</string>
        </dict>
      </array>
    </dict>
  </dict>

  <key>scopeName</key>
	<string>source.Evie</string>
	<key>uuid</key>
	<string>FA4F22B4-180D-417B-B67E-EEEF3F5A9BA4</string>
</dict>
</plist>
